<div class="index">

<p id="notice"><%= notice %></p>

<h1>Listing Artworks <%= @artworks.count %></h1>

    <div class="column">
      <div class="row">Name</div>
      <div class="row">Date created</div>
      <div class="row">Description</div>
       <div class="row">Category</div>
      <div class="row" >Image</div>
      <div class="row" >Show</div>
      <div class="row" >Edit</div>
      <div class="row" >Destroy</div>
    </div>



    <% @artworks.each do |artwork| %>
      <div class="column">
        <div class="row"><%= artwork.name %></div>
        <div class="row"><%= artwork.date_created %></div>
        <div class="row"><%= artwork.description %></div>
        <div class="row"><%= artwork.cat %></div>  
        <div class="row"><%= image_tag artwork.filename %></div>
        <div class="row"><%= link_to 'Show', artwork %></div>
        <div class="row"><%= link_to 'Edit', edit_artwork_path(artwork) %></div>
        <div class="row"><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>



<br>

<%= link_to 'New Artwork', new_artwork_path %>

</div>