<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application','data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
		<title>Gabby Voll's Website</title>
  </head>
  <body>
  	<div class="top">
	    <div class="logo">
	      <%= image_tag "logo.jpg" %>
	    </div>
	    <div class="navbar">
	       <ul>
	       	<li class="<%= current_page(home_path)%>"> <%= link_to "home", home_path %> </li>
	       	<li class="<%= current_page(root_path)%>"> <%= link_to "original works", root_path %> </li>
	        <li class="<%= current_page(about_path)%>"> <%= link_to "about", about_path %> </li>
	        <li class="<%= current_page(resume_path)%>"> <%= link_to "resume", resume_path %></li>
	        <li class="<%= current_page(contact_path)%>"> <%= link_to "contact", contact_path %></li>
	       </ul>
	    </div>
    </div>

    <div class="center">
     <%= yield %>
    </div>
    
  </body>
</html>